body {
    margin: 0;
}

header{
    	display: flex;
	flex-direction: row;
	justify-content: space-between;
    	width: 1440px;
	height: 40px;
	margin: 0 auto;
	margin-top: 30px;
}
.logo{
	margin-left: 130px;
    	display: flex;
}

.search{
	width: 402px;
	margin: auto 0;
	margin-left: 207px;
	height: 25px;
	display: flex;
	height: inherit;
}

.search>form{
    display: flex;
    height: inherit;
}

.search>form>input{
    width: 320px;
    border: none;
    border-bottom: 1px solid #333333;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.search>form>button{
    margin-left: 37px;
    color: red;
    border: none;
    background-color: inherit;
    font-family: Rubik;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.button{
    margin: auto;
    margin-left: 276px;
}

.login{  
    display: inline-block;
    padding: 9px 32px;
    background: #E5261E;
    border-radius: 4px;
    font-family: Rubik;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
