body {
    margin: 0;
}

header{
    position: relative;
    width: 1180px;
    height: 40px;
    left: 130px;
    top: 32px;
}
.logo{
    position: relative;
    left: 0%;
    right: 84.58%;
    top: 0%;
    bottom: 10%;
}

.search{
    position: absolute;
    left: 32.97%;
    right: 32.97%;
    top: 27.5%;
    bottom: 10%;
}

.input{
    position: absolute;
    left: 0%;
    right: 20.4%;
    top: 0%;
    bottom: 0%;
}

.searchText{
    position: absolute;
    left: 0%;
    right: 81.25%;
    top: 0%;
    bottom: 24%;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #828282;
}

.line{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 100%;
    bottom: 0%;
    border-bottom: 2px solid #333333;
}

.findText{
    position: absolute;
    left: 87.56%;
    right: 0%;
    top: 0%;
    bottom: 24%;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #E5261E;
}

.button{
    position: absolute;
    width: 113px;
    height: 38px;
    left: 1067px;
    top: 2px;
    background: #E5261E;
    border-radius: 5%;
}

.login{
    position: absolute;
    width: 49px;
    left: calc(50% - 49px/2);
    top: 23.68%;
    bottom: 26.32%;

    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}